################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XmlProcessor.Core/bin
/XmlProcessor.Core/obj
/XmlProcessor.DataProcessor/bin
/XmlProcessor.DataProcessor/obj
/XmlProcessor.FileParser/bin
/XmlProcessor.FileParser/obj
